<nb-card>
  <nb-card-header>
    Tasks


  </nb-card-header>

  <nb-card-body>


    <div class="row">

      <div class="col-md-2">
        <select class='form-control' (change)="loadTasks()" [(ngModel)]="status">
          <option value='0'>All</option>
          <option value='1'>Pending</option>
          <option value='2'>In Progress</option>
          <option value='3'>Done</option>
          <option value='3'>Rejected</option>
        </select>
      </div>

      <div class="col-md-1">

        <button class="btn btn-primary btn-circle btn-md" (click)="openModalWithComponent()">
          <i class="fas fa-plus"></i>
        </button>

      </div>

    </div>

    <div class="row" >
      
      <div class="col-md-12 mt-4">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Notes</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Complete Date</th>
              <th scope="col">Status</th>
              <th scope="col">Resource</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tasks">
              <td>{{item.id}}</td>
              <td>{{item.taskName}}</td>
              <td>{{item.description}}</td>
              <td>{{item.note}}</td>
              <td>{{item.startDate | date: 'yyyy-MM-dd mm:ss'}}</td>
              <td>{{item.endDate | date: 'yyyy-MM-dd mm:ss'}}</td>
              <td>{{item.completeDate | date: 'yyyy-MM-dd mm:ss'}}</td>
              <td>{{item.status}}</td>
              <td>

                <span *ngFor="let person of item.persons">
                  <nb-user [name]="person.name">
                  </nb-user>
                </span>
              </td>

              <td>
  
                <i href="#" (click)="openEditModal(item)">
                  <i class="fas fa-edit"></i>
                </i>

              </td>
  
            </tr>
  
          </tbody>
        </table>

      </div>

    </div>






  </nb-card-body>
</nb-card>