<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Project Form</nb-card-header>
            <nb-card-body>
                <form name="projectForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <label for="">Name</label>
                    <input type="text" name="name" nbInput fullWidth placeholder="Project" [(ngModel)]="projectForm.name">

                    <label for="">Description</label>
                    <input type="text" name="description" nbInput fullWidth placeholder="Description" [(ngModel)]="projectForm.description">

                    <!-- <label for="">Background Color</label>
                    <input type="color" nbInput fullWidth placeholder="Description"> -->


                    <button type="submit" class="btn">Save</button>
                </form>



            </nb-card-body>
        </nb-card>
    </div>


</div>