<div class="row">
  <div class="col-md-12">

    <button class="btn btn-primary btn-circle btn-md" (click)="goToCreateProject()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <br>

  <div class="card ml-1" style="width: 18rem;" *ngFor="let item of projects">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>


      <button class="btn btn-primary" (click)="goToTasks(item.id)">
        Go
      </button>


    </div>

  </div>





</div>